{% extends 'base.html' %}
{% load staticfiles %}
{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="../resources/js/raphael-min.js"></script>
  <script type="text/javascript" src="../resources/js/jquery.moodslider.js"></script>

  <script>
  $(document).ready(function() {
    var slider = $('#slider').moodSlider();
  })
  $(document).click('submit_mood', function() {
    var mood = $('#slider').data('value');
    $('input[name=mood_id]').val(mood);
  })
  </script>
{% endblock %}
{% block content %}
  <!--<div class='jumbotron'>-->
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <h1 style="text-align:center;">How are you feeling?</h1>
      <br/>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div id="slider"></div>
      </div>
      <div class='col-md-2'></div>
    </div>
    <div class='col-md-3'></div>
  </div>
  <div class='row'>
    <div class='col-md-3'></div>
      <div class='col-md-6'>
        <div class='col-md-2'></div>
        <div class='col-md-8' style='text-align:center'>
          <br/>
          <form name='submit_mood' action='/health/' method='POST'>
            {% csrf_token %}
            <input type='hidden' id='mood_id' name='mood_id' type='int'>
            <button class='btn btn-lg btn-primary' type='submit'>submit</button>
          </form>
        </div>
        <div class='col-md-2'></div>
      </div>
    <div class='col-md-3'></div>
  </div>

{% endblock %}